.participants-mobile {
    display: flex;
    justify-content: center;
    >table {
        border-spacing: 5px 10px;
        width: 100%;
        table-layout: fixed;
        td, th {
            text-align: left;
            overflow: hidden; 
            text-overflow: ellipsis; 
            word-wrap: break-word;
            &.center {
                text-align: center;
            }
            &.right {
                text-align: right;
            }
        }
        tr {
            &.spacer {
                height: 5px;
            }
        }
    }
    >.no-participants {
        font-size: .8rem;
    }
}