.participants {
    display: flex;
    justify-content: center;
    >table {
        border-spacing: 20px 5px;
        width: 100%;
        table-layout: fixed;
        td, th {
            text-align: left;
            overflow: hidden; 
            text-overflow: ellipsis; 
            word-wrap: break-word;
            &.center {
                text-align: center;
            }
        }
    }
    >.no-participants {
        font-size: .8rem;
    }
}
