footer {
    height: 100px;
    color: var(--color-grey);
    font-size: .8rem;
    justify-content: center;
    align-items: center;
    >.flex-row {
        >.wine-glass {
            margin: 0 10px;
            cursor: default;
        }
    }
}